@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


:root {
    --color-principal-700: #1e1345;
    --color-principal-600: #301c6b;
    --color-principal-500: #683ee6;
    --color-principal-400: #e3dcfc;
    --color-principal-300: #ffffff;

    --size-xl: 48px;
    --size-x: 40px;
    --size-l: 36px;
    --size-m: 20px;
    --size-s: 16px;
    --size-xs: 14px;
    --size-xxs: 8px;

    --fontweight-700: 700;
    --fontweight-600: 600;
    --fontweight-500: 500;
    --fontweight-400: 400;
    --fontweight-300: 300;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

.header__logo svg {
    width: 120px;
    height: auto;
    margin-left: 40px;
}

.header__right-image {
    width: 24px;
    height: 24px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}

/* 
.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  width: 100%;
} */


.header__nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex: 1;
    margin-left: 30px;
}

.header__nav-list {
    display: flex;
    gap: 32px;
    /* espacio entre los <li> */
    list-style: none;
    margin: 0;
    padding: 0;
}


.header__nav-list li {
    cursor: pointer;
    font-weight: 00;
    font-size: 16px;
}

.header__right,
.header__right button,
.header__right span,
.header__right__language-txt {
    font-weight: 700;
}

.header__right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0 32px;
}

.header__right__language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.header__right__language-txt {
    border: none;
    background-color: white;
}

.header__right-login {
    border: 2px solid black;
    background-color: white;
    height: 50px;
    width: 100px;
    border-radius: 10px;
}

.hero-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 100px;
}

.hero-image {
    display: flex;
    flex: 1;
    height: auto;
    max-width: 100%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* Align items to the left */
    gap: 16px;
    margin-top: 100px;
    width: 100%;
    padding: 0 32px;

}

.hero-title {
    font-weight: var(--fontweight-700);
    font-size: var(--size-l);
    color: var(--color-principal-700);
    margin-bottom: 16px;
    line-height: 16px;
    width: 100%;
}

.hero-content__subtitle {
    font-size: var(--size-m);
    font-weight: 400;
    color: var(--color-principal-700);
    font-size: var(--size-m)
}

.highlight {
    background-color: var(--color-principal-500);
    color: var(--color-principal-300);
    padding: 4px 8px;
    border-radius: 4px;
}


.hero-content__box {
    list-style: none;
    display: flex;
    flex-direction: column;

}

.item-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Align items vertically in the center */
    gap: 8px;
    /* Adjust spacing between text and icon  POR QUE NO SE SEPARAN*/
    margin-bottom: 8px;
    /* Space between each item */
}


.feature-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 20px;
    width: 20px;
}

.hero__prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.darklight {
    color: var(--color-principal-700);
    font-size: var(--size-xl);
    font-weight: var(--fontweight-700);
}

.main__prices-two {
    color: var(--color-principal-700);
    font-size: var(--size-m);
    font-weight: var(--fontweight-700);
    margin-right: 45px;
    /* PORQUE MARGIN RIGHT Y NO LEFT */
}

.hero__btn {
    display: flex;
    flex-direction: row 
    justify-content center
    align-items center
    gap 10px;
}



.main__btn-ok {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    font-weight: 700;
    border-radius: 12px;
    background-color: #683ee6;
    color: white;
    font-size: var(--size-s);
    border: none;
    cursor: pointer;
    height: 50px;
    width: 200px;

}

.main__btn-count {
    border: none;
    background-color: var(--color-principal-400);
    color: black;
    font-size: var(--size-s);
    font-weight: var(--fontweight-700);
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    height: 50px;
    width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.hero__img {
    position: absolute;
    top: 55%;
    /* Align roughly to the middle of .hero-title and .hero-content__subtitle */
    transform: translateY(-50%);
    right: 0%;
    width: 60%;
    /* Adjust the size as needed */
    height: auto;
}


.hero__img img {
    width: 100%;

}

/* 



*/

/* 
  width: 120px;
  height: auto;
  margin-left: 40px;



  



*/











.btn-ia__principal__txt {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
}

.chatbot {
    position: relative;
}

.btn-ia__principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 8px 8px;
    font-weight: 700;
    border-radius: 18px;
    background-color: #683ee6;
    color: white;
    border: none;
    cursor: pointer;
    line-height: 24px;
    position: fixed;
    top: 690px;
    right: 15px;
}