/* CSS = Cascade Style Sheets */

/* Selector universal */
/* Se aplica a todos los elementos de la página */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#subtitle{
    color: red
}

.title{
    color: blue;
    font-size: 2em;
    background-color: cadetblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* Add your styles here */

}

.title-small{
    font-size: 20px;
    background-color: green;
    /* Add your styles here */

}
h2{
    font-size: 120px;

}


/* Metodologia BEM */