/*  */

h1 {
    color: rgb(255, 255, 255); /* Color del texto */
    background-color: rgb(155, 80, 182); /* Color de fondo */
    font-size: 16px; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
    border: 2px solid rgb(255, 255, 255); /* Borde del elemento */
    padding: 10px; /* Espaciado interno */
    margin: 20px; /* Espaciado externo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5); /* Sombra del elemento */
    font-family: 'Arial', sans-serif; /* Fuente del texto */    
    text-transform: uppercase; /* Transformación del texto */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-decoration: underline; /* Subrayado del texto */

}
h2{
    color: rgb(191, 58, 58); /* Color del texto */ 
    font-size: 40px; /* Tamaño de la fuente */
    body {
        background-color: rgb(121, 59, 137); /* Color de fondo */
}

}        
.chiquito {
    font-size: 42px; /* Tamaño de la fuente */
    color: rgb(28, 167, 81); /* Color del texto */
    text-align: left; /* Alineación del texto */
    margin: 5px; /* Espaciado externo */
    padding: 5px; /* Espaciado interno */
    font-family: 'Verdana', sans-serif; /* Fuente del texto */
}
